:root{
    --my-color:#191970;
}

body{
    margin:0 auto;
    padding:0;
    font-size:14px;
    min-width:400px;
    font-family: 'Noto Sans JP', "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ"," Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    color:#555;
}

a{
    text-decoration: none;
    color:white;
}

.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color:var(--my-color);
    padding:10px 0;
    color:white;

}

.container{
    max-width:600px;
    margin:0 auto;
    display:flex;
    padding:0 30px;
    justify-content: space-between;
    white-space: nowrap;
}


.container-left{
    font-size:18px;
}

.container-right{
    display:flex;
    align-items: center;
}

.container-right ul{
    display:flex;
    list-style: none;
    margin:0;
}


.container-right li{
    margin-left:20px;
}

.key-visual{
    background-image:url(img/1494649_l.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin:0;
    padding-top:30px;
    height:300px;
    font-size:20px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */
    color:white;
}

.key-visual h1{
    font-size:20px;
    color:var(--my-color);
    background-color: white;
    padding:0 0.4em;
}

.main{
    padding:30px;
    max-width:600px;
    text-align: justify;
    margin:0 auto;
}

.heading{
    margin:50px 0 10px 0;
    line-height:40px;
    font-size:18px;
    font-weight: bold;
    color:#333;
    border-left: 3px solid var(--my-color);
    padding-left:10px;
}

.main h2{
    font-size:14px;
    margin:15px 0 0 0 ;
}

.main p{
    margin:0;
}

.image{
    height:200px;
    margin-top:10px;
    background-color: gray;
    color:white;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */
}