body{
    margin:0;
    padding:0;
    font-family:"sans-serif";
    font-size:14px;
    min-width:400px;

}

.container{
    background-color: gray;
    display:flex;
    padding:10px 30px;
    color:white;
    justify-content: space-between;
    white-space: nowrap;
}


.container-left{
    font-size:18px;
}

.container-right{
    display:flex;
    align-items: center;
}

.container-right ul{
    display:flex;
    list-style: none;
    margin:0;
}

.container-right li{
    margin-left:20px;
}

.key-visual{
    background-color:#333;
    margin:0;
    height:200px;
    font-size:20px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */
    color:white;
}

.main{
    padding:30px;
    text-align: justify;
}

.heading{
    margin:50px 0 10px 0;
    font-size:18px;
    font-weight: bold;
    color:#333;
    border-left: 2px solid gray;
    padding-left:10px;
}

.main h2{
    font-size:14px;
    margin:15px 0 0 0 ;
}

.main p{
    margin:0;
}

.image{
    height:150px;
    margin-top:10px;
    background-color: gray;
    color:white;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */
}