:root{
    --my-hue:360;
}

body{
    margin:0;
    background-color: rgb(230, 230, 230);
}
header{
    background-color:hsl(var(--my-hue),80%,60%);
    height:50px;
    display:flex;
    align-items: center;
    min-width:370px;
    
}

.container{
    margin: 0 auto;
    width:70vw;
    height:30px;
    display:flex;
    justify-content: space-between;
    align-items: center; 
    color:white;
    min-width:370px;
}

.container-left{
    font-family: "Verdana","Arial", "sans-serif" ;
    font-size:20px;
}

.container-right{
}

.container-right ul{
    list-style: none;
    display:block;
}

.container-right li{
    list-style: none;
    display:inline-block;
    padding:10px;
    font-size:14px;
}

.text{
    min-width:370px;
    width:70vw;
    margin:50px auto;
    padding:40px;
    font-size:16px;
    color:#444;
    line-height:2em;
    text-align: justify;
    background-color: white;
    border-radius: 12px;
}

.heading{
    line-height:45px;
    background-color:hsl(var(--my-hue),80%,95%);
    margin:50px 0px 10px 0;
    padding-left:10px;
    border-left:8px solid hsl(var(--my-hue),80%,50%);
    font-weight: bold;
    font-size:20px;
}

h2{
 font-size:18px;
 border-bottom:1px solid #999;
 margin-top:30px;
}